In [1]:
import pandas as pd
import datetime

In [2]:
victims = pd.DataFrame({"date":['2015-01-02', '2016-02-04', '2017-05-01', '2018-11-02', '2019-12-22', '2020-07-12']})
victims

         date
0  2015-01-02
1  2016-02-04
2  2017-05-01
3  2018-11-02
4  2019-12-22
5  2020-07-12

In [3]:
victims['Year']=[d.split('-')[0] for d in victims.date]
victims['Month']=[d.split('-')[1] for d in victims.date]
victims['Day']=[d.split('-')[2] for d in victims.date]

In [4]:
victims

         date  Year Month Day
0  2015-01-02  2015    01  02
1  2016-02-04  2016    02  04
2  2017-05-01  2017    05  01
3  2018-11-02  2018    11  02
4  2019-12-22  2019    12  22
5  2020-07-12  2020    07  12